body {
    overflow-x: hidden;
 
    scroll-behavior: smooth;
    
}
.btn-dark{
    width: 100%;
    height: 20%;

}

.form-control{
   background-color: rgb(231, 229, 229);
   height: 50px;
   border-radius: 20px;
   padding-left: 20px;
}

.userInput{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-dark{
    border-radius: 50px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}


footer{
    padding: 20px;
}
.footer{
    height: 70px;   
    background-color: rgb(239, 239, 239);
}

h1{
    font-weight: 800 ;
}
/* .conatiner{
    margin: 0;
    padding: 100px;
} */
#imglogo{
    height: 35px;
    width: 140px;
    padding-bottom: 5px;
}
#signuptree{
    margin: 50px;
    height: 25px ;
    width: 120px;
}

/* #bg{
    height: 100%;
    width: 100%;
} */
.btn-warning{
    width: 100%;
    border-radius: 50px;
    border: none;
    height:50px;
    background-color: rgb(239, 239, 239);
}

#nav {
    z-index: 2;
    position: relative;
    /* display: flex; */
    background-color: #FFF;
    border-radius: 90px ;
    height: 90px;
    width: 95%;
    padding: 10px;
    margin-left: 2%;
   
    
}

#login-btn{  
  /* margin-top: -10px;bg */
    padding-left:10px;
    height: 55px;
    width: 75px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
}
#signup-btn{ 
    /* margin-top: -10px; */
    /* padding: 0;    */
    background-color: black;
    color: #FFF;
   
    border-radius:90px ;
    height: 60px;
    width: 150px;
    text-decoration: none;

 }
 #linktree{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 500;
 }
 #img{
    position: relative;
    z-index: -1;
   mx-height: auto;
    width: auto;
 }
 #img1{
    position: relative;
    z-index: -1;
   mx-height: auto;
    width: auto;
 }
 .container{
    width: auto;
    position: absolute;
    top: 130%;
    right: 5%;
    /* border: 2px solid red; */
 }


@media only screen and (max-width:700px){
   #img {
    position: relative;
      z-index: -1;    
      height: 950px;
    }
   #img1 {
    position: relative;
      z-index: -1;
      height: 95px;
    }
    .container{
        width: auto;
        position: absolute;
        top: 130%;
        left: 5%;    
     }
     .container-flude{
        height: 600px;
        width: auto;
        top: 10%;
        right: 0%;
        padding: 20px;    
        position: absolute;   
       
    }
    .container-flude1{
        width: auto;
        top: 25%;
        left: 8%;
        position: absolute;
        z-index: 1;  
        font-size: 10px;
        font-weight: 100;
    }
    #cont{   
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        font-weight: 800; 
        word-spacing: 10px;
        line-height: 1;
       
    }
    #nav {
        z-index: 2;
        /* position: relative; */
        display: flex;
        background-color: #FFF;
        border-radius: 90px ;
        height: 60px;
        width: 95%;
        padding: 0px;
        margin-left: 2%;
               
    }

   #p{
    font-size: 20px;
   }
    
  }

@media only screen and (max-width:1000px){   
    #img {
        position: relative;
          z-index: -1;
          width: auto;
          height: 950px;
        }
        .container{
            width: auto;
            position: absolute;
            top: 130%;
            left: 5%;
            /* border: 2px solid red; */
         }
         .container-flude1{
            width: auto;
            top: 25%;
            left: 8%;
            position: absolute;
            z-index: 1;  
            font-size: 100px;
            font-weight: 100;
        }
        #p{
            font-size: 20px;
        }
    }



 @media only screen and (min-width:910px) and (max-width:1370px){   
    #img {
        position: relative;
          z-index: -1;
          width: auto;
          height: 950px;
        }
        .container{
            width: auto;
            position: absolute;
            top: 90%;
            left: 20%;
            /* border: 2px solid red; */
         }
         .container-flude1{
            width: auto;
            top: 25%;
            left: 8%;
            position: absolute;
            z-index: 1;  
            font-size: 100px;
            font-weight: 100;
        }
   
    #p1{
        padding-top: 20px;
        z-index: 1; 
        /* word-spacing: 20px; */
        /* line-height: 1; */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
        font-size: 30px;
        font-weight: 800;
    }
    
  }

 
 #nav{
    top: 0.1%;
    position: absolute;
 }

#p1{
    padding-top: 20px;
    z-index: 1; 
    word-spacing: -20px;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    font-size: 100px;
    font-weight: 800;
}

/* .container-flude1{   
    position: absolute; 
 
} */
.container-flude1{
  
    top: 25%;
    left: 8%;
    position: absolute;
    z-index: 1;  
    font-size: 10px;
    font-weight: 100;
    width: -moz-fit-content;
    width: fit-content;  
}
.container-flude{
    height: 600px;
    width: auto;
    top: 130%;
    right: 0%;
    padding: 20px;
    /* border: 2px solid red; */
    position: absolute;   
   
}

#input{
    /* margin-top: 1px; */
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 10px;
}

.btn-primary{
    background-color: rgb(234, 234, 94);
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    width: 200px;
    font-size: 17px;

}
#bg{
    background-size: cover;

}
/* #content{
    margin: 0px;
} */

#cont{   
    /* height: 700px;
    width: 800px;       */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 800; 
    word-spacing: 10px;
    line-height: 1;
   
}

#text1{  
    margin: 0;
    padding: 0 !important;
    color: rgb(71, 116, 3);    
    /* position: absolute; */
    font-size: 15px;
    font-weight: 600;    
    /* margin: 70px 20px; */
}
.btn-secondary{
   margin-top: 30px;
    background-color: rgb(20, 147, 48);
    height: 50px;   
    border-radius: 50px;
    border: none;
    width: 200px;
    font-size: 17px;
    
}


